files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/00_setup_node.sh":
        mode: "000755"
        owner: nodejs
        group: nodejs
        content: |
            #!/bin/bash
            # 00-PREP
            yum-config-manager --enable epel
            yum -y update
            mkdir -p /home/ec2-user/log
            curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -
            #yum -y groupinstall "Development Tools"
            touch /home/ec2-user/log/00_sanitize

            # 01-SETUP
            yum -y install nmap nano wget nc nodejs curl git htop
            cat << EOF > /var/spool/cron/nodejs
            # MAILTO=""
            # * * * * * /var/app/current/auto-run.sh &
            EOF
            chown nodejs /var/spool/cron/nodejs
            chmod 644 /var/spool/cron/nodejs
            touch /home/ec2-user/log/01_setup

            # 02-CLEANUP
            touch /home/ec2-user/log/02_cleanup

            # 03-LAUNCH
            chmod -R 600 /home/ec2-user/.ssh/*
            chmod 700 /home/ec2-user/.ssh
            cd /var/app/current
            rm -f layer_lock
            npm install
            # npm start
            cat << EOF > /etc/motd
            -------------------------------
            COVID QUEST :: API SERVER
            -------------------------------

            Welcome to CovidQuest Server

            MAIN DIRECTORY: /var/app/current

            START COMMAND: npm start
            EOF
            
            touch /home/ec2-user/log/03_launch